
.jumbotron{
	background-color: yellow;
	color: black;
	padding-top: 55px;
	padding-bottom: 5px;
	text-align: center;
	margin-bottom: 5px;
    
}

footer{
	background-color: yellow;
	color : black;
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
}
.breadcrumb{
	margin-bottom: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}
hr{
	margin: 2px;
}
.footer-direcion-icono {
	padding-right: 10px;
	color: red;
}

.card-hotel{
	flex: 1 250px;
	padding: 5px;
	margin-left: 10px;
}

.btn-reserva{
	width: 100%;
}
button {
	border-radius: 0px;
}
#nav-tarjeta {
	padding-top: 10px;
}
