//Crea una variale
$amarillo : #bee23c;
$rojo : #E60508;
//Crea mixin
@mixin margenes($top, $bootom) {
    margin-top: $top;
    margin-bottom: $bootom;
}

@mixin padding($top, $right, $bootom, $left ) { 
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bootom;
	padding-left: $left;
}

.jumbotron{
	background-color: $amarillo;
	color: black;
	@include padding(55px,0px ,5px ,0px );
    text-align: center;
    @include margenes(0px, 5px );
}

footer{
	background-color: $amarillo;
    color : black;
	@include margenes(10px, 0px );
	@include padding(10px,1opx ,0px ,10px );
}
.breadcrumb{
	@include margenes(0px,5px );
	@include padding(1px,0px ,1px ,0px );
}
hr{
	margin: 2px;
}
.footer-direcion-icono {
	@include padding(0px,10px , 0px,0px );
	color:$rojo;
}

.card-hotel{
	flex: 1 250px;
	@include padding(5px,5px , 5px,5px );
	margin-left: 10px;
}

.btn-reserva{
	width: 100%;
}
button {
	border-radius: 0px;
}
#nav-tarjeta {
	@include padding(10px,0px , 0px,0px );
}
