.jumbotron {
  background-color: #bee23c;
  color: black;
  padding-top: 55px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px; }

footer {
  background-color: #bee23c;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 1opx;
  padding-bottom: 0px;
  padding-left: 10px; }

.breadcrumb {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 1px;
  padding-left: 0px; }

hr {
  margin: 2px; }

.footer-direcion-icono {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #E60508; }

.card-hotel {
  flex: 1 250px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 10px; }

.btn-reserva {
  width: 100%; }

button {
  border-radius: 0px; }

#nav-tarjeta {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
